version: '3.8'

services:
  mongodb:
    image: mongo:8.0.3  # Use the latest stable version as of now
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: Mohammad
      MONGO_INITDB_ROOT_PASSWORD: 123456
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
